@import "_normalize";

// Below some width, the selection panel needs to move out of the way.
// This is that width:
$max-width-panel-toggle: 40rem;
// This is the width of the selection panel:
$selection-panel-width: 30rem;

html {
background-color: gray
}

  .panel {
    &-toggle{
      display: none;

      @media (max-width: $max-width-panel-toggle) {
        display: block;
        position: absolute;
      }
      
      &:checked {
        & + .panel-selection {
          margin-left: 0;
        }
      }

    }

    &-selection{
      order: 0;
      background-color: darkgray;
      width: $selection-panel-width; 
      overflow-y: auto;

      transition-property: margin-left;
      transition-duration: 1s;

      @media (max-width: $max-width-panel-toggle) {
        margin-left: -$selection-panel-width;
      }
    }

    &-display {
      order: 1;
      overflow-y: auto;
      width: 100%;
    }
  }