.Card {
    position: fixed;
    background-color: mediumaquamarine;
    width: 30rem;
    margin-left: -15rem;
    left: 50%;
    top: 3rem;

    article {
      padding-top: 2rem;
    }

    &-Image {
      width: 300px;
      margin-left: calc(15rem - 150px);
    }

    &-Name {
      text-align: center;
      margin: 0;
    }

    &-Description {
      max-width: 23rem;
      margin-left: 3.5rem;
      text-align: center;
      margin-top: 0.5rem;
    }

    &-Button--close{
      position: absolute;
      top: 0;
      right: 0;
    }
}