.Card {
    position: fixed;
    background-color: lightgray;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 13rem;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s;
    outline: solid black 2px;

    article {
      padding: 0.5rem;
    }

    &-Display {
      display: inline-block;
      margin-right: 1rem;
    }

    &-ImageContainer {
      @media (max-height: 640px) {
        max-height: 19rem;
        overflow: hidden;
      }
    }

    &-Image {
      width: 300px;
    }

    &-Copy {
      display: inline-block;
      width: 18rem;
      list-style: none;
      vertical-align: top;
      margin: 0;
      padding: 0;
    }

    &-Name {
      margin: 0;
    }

    &-Country, &-Description, &-Origin {
      margin-top: 0.5rem;
    }

    &-Button--close{
      position: absolute;
      top: 0;
      right: 0;
    }

    @media (max-width: 39rem) {
      max-width: 20rem;
    }

}